* { box-sizing: border-box;}

html, body { margin: 0; padding: 0;}

body {
    width: 100%;
    height: 100%;
    font: var(--typografic-text-standard-400);
    font-family: sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

