.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;

  .form-container {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: solid 4px #005CA9;

    h2 {
      color: #005CA9;
      text-align: center;
      margin-bottom: 24px;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .full-width {
        width: 100%;
      }

      textarea.mat-input-element {
        min-height: 80px;
        resize: vertical;
      }

      mat-checkbox a {
        color: #005CA9;
        text-decoration: underline;
      }

      button {
        margin-top: 16px;
        width: 100%;
        background: #005CA9 !important;
        color: #ffffff !important;
        font-weight: 500;
        font-size: 18px;
        border-radius: 6px;
        padding: 6px 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-container {
    padding: 8px;

    .form-container {
      padding: 16px;

      h2 {
        font-size: 20px;
      }

      form button {
        font-size: 16px;
        padding: 6px 0;
      }
    }
  }
}

/* ================= POPUP ================= */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-info {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #127527;
  border-left-width: 10px; 
  padding: 16px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  height: 100px;
  gap: 12px;
}

.popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.popup-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
  }
}

.popup-text {
  flex-grow: 1;

  strong {
    display: block;
    color: #127527;
    font-size: 16px;
    margin-bottom: 4px;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
}
