<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <span class="footer-text">
      CAIXA ECONÔMICA FEDERAL - CNPJ 00.360.305/0001-04. SBS QUADRA 4 LT 3/4, ASA SUL - CEP 70.070-140 BRASÍLIA - DF
    </span>

    <div class="footer-icons">
      <a
        class="mat-icon-button"
        href="https://github.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Github"
        role="link"
      >
        <mat-icon aria-hidden="true">github</mat-icon>
      </a>
      
    </div>
  </div>
</mat-toolbar>
