<dsc-button label="Primary">
</dsc-button>
<dsc-button label="Secondary"
            variant="secondary">
</dsc-button>
<dsc-button label="Secondary"
            variant="secondary-outlined">
</dsc-button>
<dsc-button label="Secondary"
            variant="secondary-text">
</dsc-button>
<dsc-button label="Danger"
            variant="danger">
</dsc-button>
<dsc-button label="Danger"
            variant="danger-outlined">
</dsc-button>
<dsc-button label="Danger"
            variant="danger-text">
</dsc-button>
<dsc-button label="Auxiliary"
            variant="auxiliary">
</dsc-button>


  <dsc-button
          label="Botão">
  </dsc-button>

  <dsc-button iconButton="true"
              icon="square">
  </dsc-button>

  <dsc-button label="Botão"
              iconPrefix="square">
  </dsc-button>

  <dsc-button label="Botão"
              iconSuffix="square">
  </dsc-button>

  <dsc-button
    label="Botão"
    variant="secondary-outlined">
  </dsc-button>

  <dsc-button iconButton="true"
    variant="secondary-outlined"
    icon="...caminho_imagem">
  </dsc-button>

  <dsc-button label="Botão"
    variant="secondary-outlined"
    iconPrefix="...caminho_imagem">
  </dsc-button>

  <dsc-button label="Botão"
    variant="secondary-outlined"
    iconSuffix="...caminho_imagem">
  </dsc-button>
